.collection-page {
    display: flex;
    flex-direction: column;
  
    .collection-page-title{

    }
  
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-gap: 10px;
  
      & .collection-item {
        margin-bottom: 30px;
      }
    }
  }

  @media(max-width:900px){
    .collection-page{
      margin: 5px;
    }
  }
  