.sign-in-and-sign-up {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;

    .sign-up-here{
      color: red;
      border-bottom: 1px solid red;
      cursor: pointer;
    }
}

