.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
  
    .title {
      margin: 10px 0;
    }

    .error-message {
      color: red;
      padding-top: 10px;
  }
}

@media(max-width:900px){
  .sign-up{
      width: 90%;
  }
}

  