.footer-container{
    text-align: center;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 50px;

    .eudin{
        color: steelblue;
        border-bottom: 1px solid steelblue;
    }
}